@page "/DataAccessPages/GetUserData"
@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IUserData _db;

<h3>User page</h3>
<h4>Current users</h4>
@if (users is null)
{
    <p><em>Loading...</em></p>
}

else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Adress</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.EmailAddress</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<UserModel> users;

    protected override async Task OnInitializedAsync()
    {
        users = await _db.GetUser();
    }

}
