@inherits LayoutComponentBase

<div class="page">
<<<<<<< HEAD

    <div class="main">
=======
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <div class="main">
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@
>>>>>>> a5cdf30c3ee59edb5418aa91cfd8c329c48b75fb

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
