@page "/formpage"

<style>
    #blokkii {
        display: block;
        text-align:center;
    }

    ul {
        list-style-type: none;
    }
</style>

<link rel="stylesheet" href="/css/header-style.css" />

<body>
    <div id="blokkii">
        <h4>Mitäs pidät?</h4>
        <ul>
            <li><input type="radio" name="well" /></li>
            <li><input type="radio" name="well" /></li>
            <li><input type="radio" name="well" /></li>
            <li><input type="radio" name="well" /></li>
            <li><input type="radio" name="well" /></li>
        </ul>
        
    </div>
    
</body>



@code {

}
